<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	<a class="navbar-brand" href="{{path('homePage')}}">
		<i class="fas fa-utensils"></i>
		SymBurger
		<i class="fas fa-utensils"></i>
	</a>


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		{% if categories is defined %}
			<ul class="navbar-nav mr-auto">
				{% for category in categories %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('category_show', {'id':category.id})}}">{{category.name}}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		<ul class="navbar-nav">
			{{ include('inc/_connexion.html.twig') }}
		</ul>
	</div>
</nav>
{% for label, messages in app.flashes %}
	<div class="container">
		<div class="alert alert-{{ label }} text-center">
			{% for message in messages %}
				<p>
					<strong>{{ message }}</strong>
				</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}
